table {
    border-collapse: collapse;
    font-family: serif;
}

table th, table td{
    border: 1px solid #999;
    padding: 0.2em;
}

td.price {
    text-align: right;
}

th {
    background-color: navy;
    color: white;
}